@model AspClient.Models.Person
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SinglePerson</title>
</head>
<body>
    <div>
        @Model.Id
        @Model.FirstName
        @Model.LastName
    </div>
</body>
</html>
