@model Person
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Person</title>
</head>
<body>
    <p>@Model.Id</p>
    <p>@Model.FirstName</p>
    <p>@Model.LastName</p>
</body>
</html>